<?xml version="1.0"?>

<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->

<configuration>

    <system.web>
      <compilation debug="true" targetFramework="4.5.2" />
      <httpRuntime targetFramework="4.5.2" />
    </system.web>
<!-- Login credentials are expired so you can have fun trying -->
  <connectionStrings>
    <add name="connectionString" connectionString="Data Source=des-sql.ucn.dk\DESSTUD;Initial Catalog=mmdi0915_1055313;Persist Security Info=True;User ID=mmdi0915_1055313;Password=imjqbayyi"/>
  </connectionStrings>

  <!-- Web.Config Configuration File -->


    <system.web>
      <customErrors mode="Off"/>
    </system.web>
  

  


</configuration>
